<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.res_otomasyon.resotomasyon" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name=".NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MenuEkrani"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginScreen"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MasaEkrani"
            android:label="@string/title_activity_masa_ekrani"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StartScreen"
            android:label="@string/title_activity_start_screen"
            android:stateNotNeeded="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HesapEkrani"
            android:label="@string/title_activity_hesap_ekrani"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MasaSecEkrani"
            android:label="@string/title_activity_masa_sec_ekrani"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NotificationScreen"
            android:label="@string/title_activity_notifications"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SurveyScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Anket"
            android:windowSoftInputMode="adjustResize">
        </activity>
    </application>

</manifest>
